<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyip</title>
</head>
<body>
    <header>
        <a>Hyip</a>
        <nav>
            <a href="/">Home</a>
            <a href="/plan/">Planes</a>
            <a href="/deposit/">Depositos</a>
            <a href="/withdraw/">Retiros</a>
            <a href="/history/">History</a>
            <a href="/auth/logout/">Log out</a>
        </nav>
    </header>
    <main>
        {% block content %}
            
        {% endblock content %}
    </main>
</body>
</html>