{% include './base.html' %}

{% block content %}
    <h2 class="text-center my-3">Mis operaciones</h2>
    <table class="table text-center caption-top">
        <caption class="fs-3 text-center">Depositos</caption>
        <tr>
            <th>Amount</th>
            <th>Approval</th>
            <th>Created</th>
        </tr>
    {% for deposit in deposits%}
        <tr>
            <td>{{deposit.amount}}</td>
            <td>{{ deposit.is_approved}}</td>
            <td>{{deposit.created}}</td>
        </tr>
    {% empty %}
    <tr>
        <td colspan="3">There is no deposits</td>
    </tr>
    {% endfor %}
    </table>
    <table class="table text-center caption-top">
        <caption class="fs-3 text-center">Withdraws</caption>
        <tr>
            <th>Amount</th>
            <th>Approval</th>
            <th>Created</th>
        </tr>
        {% for withdraw in withdraws%}
            <tr>
                <td>{{withdraw.amount}}</td>
                <td>{{ withdraw.is_approved}}</td>
                <td>{{withdraw.created}}</td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="3">There is no withdraws</td>
        </tr>
        {% endfor %}
    </table>
    <table class="table text-center caption-top">
        <caption class="fs-3 text-center">Plans</caption>
        <tr>
            <th>Amount</th>
            <th>% Gain</th>
            <th>Created</th>
        </tr>
            {% for plan in plans%}
                <tr>
                    <td>{{plan.amount}}</td>
                    <td>{{plan.daily_earning}}</td>
                    <td>{{plan.created}}</td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="3">There is no plans</td>
            </tr>
            {% endfor %}
    </table>

{% endblock %}