{% include 'dashboard/base.html' %}


{% block content %}
<h2 class="text-center my-3">Get one of these plans</h2>
<div class="row justify-content-center mb-4">
    <div class="col text-center">
        <div class="card m-auto mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">$5-$99</h5>
                <h6 class="card-subtitle mb-2 text-muted">Starter</h6>
                <p class="card-text">Daily Gain: 1%</p>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="card m-auto" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">$100 or more</h5>
                <h6 class="card-subtitle mb-2 text-muted">Medium</h6>
                <p class="card-text">Daily Gain: 2%</p>
            </div>
        </div>
    </div>
</div>
{% include './form_amount.html' with text="Buy a plan" %}
{% endblock content %}